@import "tailwindcss";

:root {
  --background: #fff9ef;
  --foreground: #233224;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button,
summary,
a,
select,
input,
textarea {
  outline-color: #1687a7;
}

summary::-webkit-details-marker {
  display: none;
}
